/* ------------------
   GENERAL PAGE STYLE
-------------------*/
body.black {
    background: #000;
    color: white;
    font-family: "Times New Roman", serif;
    padding: 20px;
}

body.white {
    background: #f5f5f5;
    color: black;
    font-family: "Times New Roman", serif;
    padding: 20px;
}

.container {
    text-align: center;
}

/* --------------
   ASHOKA LOGO
---------------*/
.logo {
    display: block;
    margin: 20px auto 5px auto;
    max-height: 80px;       /* Small fix working */
    width: auto;
    object-fit: contain;
}

/* --------------
   SATYAMEV LINE
---------------*/
.satyamev {
    font-size: 18px;
    font-weight: bold;
    color: #b30000;
    margin-bottom: 15px;
}

/* -------------
   HEADLINE
--------------*/
.headline {
    color: #ff6666;
    font-size: 28px;
    margin-bottom: 20px;
}

/* -------------
   DETAIL BOX
--------------*/
.box {
    background: rgba(255,255,255,0.1);
    border: 1px solid #ff0000;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 450px;
    margin: auto;
}

body.white .box {
    background: #fffef2;
    border: 1px solid #b30000;
}