body {
    background: #f8f1df; /* Certificate off-white */
    font-family: "Times New Roman", serif;
    margin: 0;
}

.top-bar {
    background: #660000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.top-bar button {
    background: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.container {
    text-align: center;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-height: 90px;   /* always small */
    width: auto;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-20deg) saturate(500%);
}

.satyamev {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #7a0000;
}

.heading {
    font-size: 26px;
    color: #7a0000;
    margin-top: 10px;
}

.sub-heading {
    font-size: 20px;
    margin-top: -5px;
    color: #444;
}

.details-box {
    margin: 20px auto;
    width: 90%;
    background: #fff;
    padding: 20px;
    border: 2px solid #7a0000;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th {
    text-align: left;
    padding: 10px;
    width: 35%;
    color: #7a0000;
}

td {
    padding: 10px;
    color: #222;
}

tr:nth-child(even) {
    background: #f2e7df;
}